{{#if isEditingEffective}}
  <input
    value     = {{userInputValue}}
    class     = 'editableInput-input editableField-content'
    oninput   = {{action 'userInput' value="target.value"}}
    onblur    = {{action 'delayedToggleEditing' false}}
    onkeydown = {{action 'cancelEditingOnEnter'}}
  >
{{else}}{{! isEditing }}
  <span
    class = 'editableInput-value editableField-content'
    {{action 'toggleEditing'}}
  >
    {{~userInputValue~}}
  </span>{{! value }}
{{/if}}{{! isEditing }}

<span class="editableInput-buttons">
  {{#if isEditingEffective}}
    <a
      href
      class = 'editableInput-button _finish'
      title = 'Finish editing'
      {{action 'toggleEditing' false}}
    >
      ✓
    </a>
  {{else if isEditable}}{{! isEditingEffective }}
    <a
      href
      class = 'editableInput-button _edit'
      title = 'Edit'
      {{action 'toggleEditing' true}}
    >
      ✏
    </a>
  {{/if}}{{! isEditingEffective, isEditable }}

  {{#if (and isEditable isDirty)}}
    <a
      href
      class = 'editableInput-button _revert'
      title = 'Revert'
      {{action 'revert'}}
    >
      ⤾
    </a>
  {{/if}}
</span>{{! buttons}}
