{{#if isEditingEffective}}
  {{!#click-outside action=(action (mut isEditing) false)}}
    {{#auto-focus class='editableField-inputWrapper'}}
      <input
        value     = {{userInputValue}}
        class     = 'editableField-input'
        oninput   = {{action 'userInput' value="target.value"}}
        onblur    = {{action 'toggleEditing' false}}
        onkeydown = {{action 'cancelEditingOnEnter'}}
      >
    {{/auto-focus}}

    <a
      href
      class = 'editableField-button'
      title = 'Finish editing'
      {{action 'toggleEditing' false}}
    >
      ✓
    </a>
  {{!/click-outside}}
{{else}}{{! isEditing }}
  <span
    class = 'editableField-value'
    {{action 'toggleEditing'}}
  >
    {{~userInputValue~}}
  </span>{{! value }}

  {{#if isEditable}}
    <a
      href
      class = 'editableField-button'
      title = 'Edit'
      {{action 'toggleEditing' true}}
    >
      ✏
    </a>
  {{/if}}
{{/if}}{{! isEditing }}

{{#if (and isEditable isDirty)}}
  <a
    href
    class = 'editableField-button'
    title = 'Revert'
    {{action 'revert'}}
  >
    ⤾
  </a>
{{/if}}
