<div class="route-gist">

  {{#if gist.htmlUrl}}
    <h1>
      Gist <a href={{gist.htmlUrl}}>{{gist.id}}</a>
    </h1>
  {{/if}}

  {{editable-input
    obj        = gist
    key        = 'description'
    class      = "route-gist-description"
    isEditable = isEditing
  }}

  <div class="route-gist-controls">

    <div class="route-gist-controls-item _first">
      {{gist-controls
        isEditing       = isEditing
        isEditable      = isEditable
        isOwn           = gist.isOwn
        isAuthenticated = session.isAuthenticated
        hasDirtyFields  = gist.hasDirtyFields
        saveIsRunning   = saveTask.isRunning
        cloneIsRunning  = cloneTask.isRunning
        forkIsRunning   = forkTask.isRunning
        editAction      = (action 'startEditing')
        cancelAction    = (action 'cancelEditing')
        saveAction      = (action (perform saveTask))
        cloneAction     = (action (perform cloneTask))
        forkAction      = (action (perform forkTask))
        revertAction    = (action 'revert')
      }}
    </div>{{! gist-controls-item _first }}

    <div class="route-gist-controls-item _last">
      {{#if gist.areAnyScenariosExpandable}}
        <div class="route-gist-globalExapndCollapseControls">
          {{#if gist.areAnyExpandableScenariosCollapsed}}
            <a
              href
              {{action 'setAll' true}}
            >
              {{~concat~}}
              Expand All
              {{~concat~}}
            </a>
          {{/if}}{{! gist.areAnyExpandableScenariosCollapsed }}

          {{#if gist.areAnyExpandableScenariosExpanded}}
            <a
              href
              {{action 'setAll' false}}
            >
              {{~concat~}}
              Collapse All
              {{~concat~}}
            </a>
          {{/if}}{{! gist.areAnyExpandableScenariosExpanded }}
        </div>{{! globalExapndCollapseControls}}
      {{/if}}{{! gist.areAnyScenariosExpandable }}
    </div>{{! controls-item _last }}
  </div>{{! controls }}



  <div class="route-gist-features">
    {{#each (sort-by 'feature' gist.featureFiles) as |file|}}
      {{feature-file
        class      = 'route-gist-feature'
        file       = file
        isEditable = isEditing
      }}
    {{/each}}
  </div>{{! features }}



  <div>
    {{#if session.isAuthenticated}}
      <button
        disabled = {{or (not isEditable) (not gist.hasDirtyFields)}}
        {{action (perform saveTask)}}
      >
        {{if saveTask.isRunning 'Saving...' 'Save'}}
      </button>

      <button
        disabled = {{or (not isEditable) (not gist.hasDirtyFields)}}
        {{action 'revert'}}
      >
        Revert
      </button>

      {{#if gist.isOwn}}
        <button
          disabled = {{or gist.hasDirtyFields (not isEditable)}}
          title = "GitHub does not allow forking gists, so instead we can create a separate copy. The gist must be saved in order to copy."
          {{action (perform cloneTask)}}
        >
          Clone
        </button>
      {{else if session.isAuthenticated}}{{! gist.isOwn }}
        <button {{action (perform forkTask)}}>Fork</button>
      {{/if}}{{! gist.isOwn }}
    {{/if}}{{! session.isAuthenticated }}
  </div>
</div>{{! route-gist }}