<div class="route-gist">

  {{#if gist.areAnyScenariosExpandable}}
    <div class="route-gist-controls">
      {{#if gist.areAnyExpandableScenariosCollapsed}}
        <a
          href
          {{action 'setAll' true}}
        >
          {{~concat~}}
          Expand All
          {{~concat~}}
        </a>
      {{/if}}{{! gist.areAnyExpandableScenariosCollapsed }}

      {{#if gist.areAnyExpandableScenariosExpanded}}
        <a
          href
          {{action 'setAll' false}}
        >
          {{~concat~}}
          Collapse All
          {{~concat~}}
        </a>
      {{/if}}{{! gist.areAnyExpandableScenariosExpanded }}
    </div>{{! title }}
  {{/if}}{{! gist.areAnyScenariosExpandable }}



  <div class="route-gist-features">
    {{#each (sort-by 'feature' gist.featureFiles) as |file|}}
      {{feature-file
        class = 'route-gist-feature'
        file  = file
      }}
    {{/each}}
  </div>{{! features }}
</div>{{! route-gist }}